<div id="page">
		<div id="colorlib-amenities">
			<div class="container">
				<div class="row">
					<div class="amenities-flex">
					<div class="desc animate-box">
						<h2 style="color:#ff5200;">Mairi Hotel это:</h2>
							<p>— Ресторан авторской кухни и бар.</p>
							<p>— Прямой доступ к горнолыжной трассе.</p>
							<p>— Пешая доступность до подъемников и центра курорта.</p>
							<p>— Организация туров на снегоходах, джипах, квадроциклах, вездеходах.</p>
							<p>— Ухоженная территория, детская площадка, барбекю зоны</p>
							<p>— Доброжелательная и заботливая команда отеля.</p>
						    <p><a href="/document/Правила проживания.pdf" target="_ blank">Правила проживания</a></p>
					</div>
					<div class="amenities-img animate-box" style="background-image: url(/images/site/hotel.jpg);"></div>
						<div class="amenities-img animate-box" style="background-image: url(/images/site/parcovka.jpg);"></div>
						<div class="desc animate-box">
						<h2 style="color:#ff5200;">Парковка</h2>
						<p>
							Mairi Hotel – ваш идеальный отель с собственной парковкой! Мы гордимся тем, что можем предложить вам не только роскошный отдых, но и удобства для вашего автомобиля.
							Паркинг расположен на территории гостиницы и оснащен видеонаблюдением, рассчитан на 150 мест, включая места не только для легковых автомобилей, а также для крупногабаритного транспорта, например,  туристических автобусов.
							Парковка предоставляется абсолютно бесплатно для гостей, проживающих у нас 1 сутки и более.
						</p>
						<p>
							Для всех желающих оставить свой транспорт под охрану без проживания, стоимость паркинга составит:
							<ul style="list-style: none;">
							<li>— легковой автомобиль: 250 рублей в сутки;</li>
                                <li> — крупногабаритный транспорт (туристические автобусы): 300 рублей в сутки.</li>
                            </ul>
							Время работы бесплатного паркинга 24 часа.
						</p>
						</div>
						<div class="desc animate-box">
						<h2 style="color:#ff5200;">Услуги в отеле</h2>
						<p>
						Наш отель предлагает различные услуги, чтобы сделать ваше пребывание более комфортным. К ним относятся:
						    <ul style="list-style: none;">
								<li>— Уборка номеров, включая застилание кроватей, замену полотенец и вынос мусора.</li>
								<li>— Обслуживание номеров: Заказ еды и напитков в номер.</li>
								<li>— Консьерж: Помощь с бронированием билетов, ресторанов и других услуг.</li>
								<li>— Прачечная: Стирка и глажка одежды.</li>
								<li>— Фитнес-центр: Тренажерный зал, бассейн и другие спортивные сооружения.</li>
								<li>— Спа-центр: Массаж, процедуры для лица и тела.</li>
								<li>— Бизнес-центр: Компьютеры, принтеры и другие офисные принадлежности.</li>
								<li>— Wi-Fi: Бесплатный Wi-Fi на всей территории отеля.</li>
							</ul>
						</p>
						</div>
					<div class="amenities-img animate-box" style="background-image: url(/images/site/services.jpg);"></div>
					<div class="amenities-img animate-box" style="background-image: url(/images/site/SPA.jpg);"></div>
						<div class="desc animate-box">
						<h2 style="color:#ff5200;">SPA-комплекс</h2>
						<p>
							SPA-комплекс расположен в живописных местах, в окружении природы 
							и предлагает идеальное сочетание расслабляющего отдыха и активного времяпровождения.
						</p>
						<p>
							Гости могут насладиться уникальными процедурами и массажами,
							красивыми видами на горы и провести время на свежем воздухе, заняться горным велосипедом или пеших прогулок.
							В услуги SPA-комплекса входят сауны, бани, обертывания, массажи, йога и медитация, бассейны на свежем воздухе и закрытые.
							Гости могут выбирать из различных пакетов услуг, а также индивидуально подобрать программу для себя.
					   </p>
						</div>
						<div class="desc animate-box">
						<h2 style="color:#ff5200;">Горячие источники</h2>
							
							<p>
							Горячие источники — это термальные воды, которые выходят из-под земли под воздействием активного горообразования и вулканической деятельности. 
							Температура источников может достигать +100 °C.
							Подземная вода содержит множество витаминов и минералов, которые благотворно влияют на борьбу с рядом кожных и сердечных заболеваний.
							</p>
						<p>
							В некоторых случаях ванны могут быть противопоказаны и могут навредить. 
							Перед посещением источников рекомендуется проконсультироваться с врачом.
						</p>
						</div>
						<div class="amenities-img animate-box" style="background-image: url(/images/site/istochnic.jpg);"></div>
					</div>
				</div>
			</div>
		</div>
</div>

