<div>
<div class="container">
   <div class="row">
      <div class="col-md-7 col-md-push-5" >
         <article class="animate-box">
            <div class="desc">
                <div class="meta">
                   <div style="background-image: url(/images/site/birthday.jpg); height:210px; width:500px"></div> 
                </div>
                 <p>Скидка предоставляется на проживание для именинника и его гостей от 2-х ночей.
                  Заезд/выезд должен быть в коридоре 1 неделя до/после даты Дня рождения</p>
            </div>
         </article>
         <article class="animate-box">
             <div class="desc">
                <div class="meta">
                     <div style="background-image: url(/images/site/wedding.jpg); height:210px; width:500px"></div>
                </div>
                <h2>Молодожёнам и на годовщину</h2>
                <p>Проведите у нас медовый месяц или отпразднуйте годовщину свадьбы. Мы предоставим 5% скидку и  завтрак в номер</p>
             </div>
         </article>
            <article class="animate-box">
                <div class="desc">
                    <div class="meta">
                        <div style="background-image: url(/images/site/pets.jpg); height:210px; width:500px"></div>
                    </div>
                    <h2>Отдых с питомцем</h2>
                    <p>
                        У нас возможно проживание домашних животных - собак и кошек.
                        Дополнительная плата за их размещение составит 1000р/с.
                        Вам будут предоставлены миска, корм, лоток.
                    </p>
                </div>
            </article>
      </div>
       <div class="col-md-4 col-md-pull-7" >
            <div class="aside animate-box" style="margin-top:170px">
                 <h3>Спецпредложения</h3>
                  <div class="blog-entry-side">
                        <div class="desc">
                            <h3>Воспользуйтесь специальными предложениями от отеля "Mairi Hotel"</h3>
                            <span class="cat">Интересные акции, новинки и скидки позволят вам отдохнуть еще выгоднее. Планируйте свой отдых, приезжайте к нам на выходные и получайте максимум приятных эмоций!</span>
                        </div>
                  </div>
                    <div class="blog-entry-side">
                        <div class="desc">
                            <h3>Все предложения действуют круглый год</h3>
                        </div>
                    </div>
                    <div class="blog-entry-side">
                       <div class="desc">
                           <h3>Оформление предложений осуществляется в день заезда на стойке администратора</h3>
                       </div>
                    </div>
                <div class="blog-entry-side">
                    <div class="desc">
                        <h3>Не забудьте взять необходимые документы</h3>
                    </div>
                </div>
                <div class="blog-entry-side">
                    <div class="desc">
                        <h3>Предложения не суммируются!</h3>
                        <span class="cat">Выберите лучшее для вас предложение и получите максимальную выгоду</span>
                    </div>
                </div>
            </div>
       </div>
   </div>
</div>
</div>

