@model WebClients.Models.LoginViewModel

<link rel="stylesheet" href="/Acc/fonts/material-icon/css/iconic.min.css">
<link rel="stylesheet" href="/Acc/Account.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/css/Scripts/inputmasks.js"></script>
<script src="/css/Scripts/Masks.js"></script>

<div style="padding: 50px;">
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="/images/site/Auto.jpg" alt="sing up image"></figure>
                    <a href="@Url.Action("Register", "Account")" class="signup-image-link">Нет аккаунта? Зарегистрируйтесь!</a>
                </div>
                <div class="signin-form">
                    <h2 class="form-title">Авторизация</h2>
                    <form method="POST" class="register-form" id="login-form">
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-email"></i></label>
                            <input asp-for="Email" class="form-control" id="Email" type="text" placeholder="Электронная почта" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input asp-for="Password" id="password-input" class="form-control" type="password" placeholder="Пароль" maxlength="17"/>
                            <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group form-button">
                            <button class="btn btn-primary form-control" type="submit" value="Submit">Войти</button>
                        </div>
                        <a href="@Url.Action("ForgotPassword", "Account")" class="social-label">Забыли пароль?</a>
                        <a href="@Url.Action("ForgotEmail", "Account")" class="social-label">Забыли Email?</a>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
